<%- include('./partials/header') %>
<h1 class="jumbotron text-center">Movie Music Database</h1>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form action="/" method="POST">
      <div class="input-group">
        <input type="text" name="title" autocomplete="off" class="form-control" placeholder="Enter Any Title Here">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row col-xs-8 col-xs-offset-2">
  <% if(movies || songs || shows) { %>
  <div class="panel panel-default">
    <% if(movies.length || songs.length || shows.length){ %>

    <div class="panel-body">
      <h3>Titles:</h3>
      <div class="list-group">
        <% all.forEach(function(m) { %>
        <% if(m.type == 'movie'){ %>

        <a href="/movies/<%= m._id %>" class="list-group-item"><strong><%= m.title %></strong>, <i><%= m.year %></i>
        </a>

        <% } else if(m.type == 'song') {%>

        <a href="/songs/<%= m._id %>" class="list-group-item"><strong><%= m.title %></strong>, <i><%= m.year %></i> </a>

        <% } else { %>
        <a href="/shows/<%= m._id %>" class="list-group-item"><strong><%= m.title %></strong>, <i><%= m.year %></i> </a>
        <% } %>
        <% }); %>
      </div>
    </div>

    <% } else { %>
    <div class="row col-xs-8 col-xs-offset-2">
      <h3 class="text-center text-info">
        No Titles Match!
      </h3>

    </div>
    <% } %>
    <% } else { %>
    <div class="row col-xs-8 col-xs-offset-2">
      <h3 class="text-center text-info">
        Search for a Title!
      </h3>

    </div>
    <% } %>
  </div>
</div>
</body>

</html>