<%- include('../partials/header') %>
<h1 class="jumbotron text-center"><strong><%= show.title %></strong>, <%= episode.title %></h1>
<div class="half-half">


    <section id="show-page" class='half-child'>
        <h1>Title: <strong><%= episode.title %></strong></h1>

        <h1>Season: <strong><%= episode.season %></strong></h1>

        <h1>Episode: <strong><%= episode.epNum %></strong></h1>

        <h1>Air Date: <strong><%= episode.airDate.toString().slice(4,16) %></strong></h1>


        <% if(episode.songs.length){ %>


        <h1>Songs: </h1>
        <ul>
            <%- episode.songs.map(s => 
        `
        <a href=/songs/${s._id}><li><strong>%{s.title} – ${s.artist}</strong>, <i>${s.year}</i> </li></a>
        `
      ).join('') %>
        </ul>
        <% } else { %>
        <h1>No Songs Added Yet</h1>
        <% } %>


        <a href="/shows/<%= show._id %>/episodes/<%= episode._id %>/edit">Update</a>

    </section>
    <section id="show-page" class='half-child'>
        <form action="/shows/<%= show._id %>/episodes/<%= episode._id %>/songs" method="POST">
            <div class="input-group">
                <input type="text" name="title" autocomplete="off" class="form-control"
                    placeholder="Enter Any Title Here">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Go!</button>
                </span>
            </div>
        </form>
        <% if(!searchedSongs){ %>
        <div class="row col-xs-8 col-xs-offset-2">
            <h3 class="text-center text-info">
                Search for a Title!
            </h3>

        </div>
        <% } else { %>
        <div class="row col-xs-12 ">
            <div class="panel-body">
                <% if(searchedSongs.length){ %>
                <% searchedSongs.forEach(s => { %>
                <h5 class=" text-info">
                    <%= s.title %>, <%= s.artist %> – <%= s.year %>
                </h5>
                <% }) %>
            </div>
        </div>
        <% } else { %>
        <div class="row col-xs-8 col-xs-offset-2">
            <h3 class="text-center text-info">
                No Titles Matched
            </h3>

        </div>
        <% } %>
        <% } %>
    </section>
</div>


</body>

</html>