<%- include('../partials/header') %>
<h1 class="jumbotron text-center"><%= episode.title %></h1>
<section id="show-page">
    <h1>Title: <strong><%= episode.title %></strong></h1>

    <h1>Season: <strong><%= episode.season %></strong></h1>

    <h1>Episode: <strong><%= episode.epNum %></strong></h1>

    <h1>Air Date:<strong><%= episode.airDate %></strong></h1></h1>
    
    <a href="/episodes/<%= episode._id %>/edit">Update</a>

</section>


</body>

</html>

