<%- include('../partials/header') %>
<h1 class="jumbotron text-center"><%= song.title %></h1>
<section id="show-page">
    <h1>Title: <strong><%= song.title %></strong></h1>

    <h1>Release Year: <strong><%= song.year %></strong></h1>

    <h1>Artist: <strong><%= song.artist %></strong></h1>

    <h1>Movies: not coded out yet :(</h1>
    
    <h1>TV Shows: not coded out yet :'(</h1>

</section>

</body>

</html>