<!DOCTYPE html>
<html>

<head>
    <title>Movie Music Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <nav>
        <a href="/movies/new">add movie</a>
        <a href="/songs/new">add song</a>
        <a href="/">home</a>
    </nav>
    <h1 class="jumbotron text-center"><%= movie.title %></h1>
    <section id="show-page">
        <h1>Title: <strong><%= movie.title %></strong></h1>
        
        <h1>Release Year: <strong><%= movie.year %></strong></h1>
        
        <h1>Rating: <strong><%= movie.rating %></strong></h1>
        
        <h1>Songs:</h1>
        <ul>
            <%- movie.songs.map(p => 
        `<li>${p.title} <small>${p.artist}</small></li>`
      ).join('') %>
        </ul>
    </section>

</body>

</html>